*{
    border: 0;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('website-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(103, 200, 207);
    opacity: 0.9;
}
#logo-container{
    display: flex;
    align-items: center; 
}
#logo-airplane{
    height: 80px;
    width: auto;
}
#logo-text{
    font-size: 30px;
    font-family: cursive, sans-serif;
}


#nav-links{
    display: flex;
    gap: 50px;
}
#nav-links a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
}

#searchbar{
    position: relative;
    margin-right: 20px;
}
#searchbar input{
    height: 30px;
    padding-right: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
}

#searchbar button{
    position: absolute;
    padding: 0 5px;
    height: 70%;
    top: 5px;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(68, 66, 182);
    background-color: rgb(181, 210, 240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}
#search-button{
    right: 80px;
}
#reset-button{
    right: 20px;
}


/*home css*/
#search-seperate{
    display: flex;
    gap: 200px;
}

#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    height: 80vh;
    width: 60vh;
    padding-left: 200px;
}
#home-container h1{
    font-size: 100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#home-container p{
    font-size: 20px;
}

#search-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    gap: 50px;
    height: auto;
    width: 40vh;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    visibility: hidden;
}

#result-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#result-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#search-result section{
    height: 30px;
    width: 80%;
    background-color: rgb(9, 66, 2);
    border-radius: 15px;
    margin-left: 36px;
}
#search-result h4{
    font-weight: 900;
}

#search-result img{
    height: auto;
    width: 100%;
    border-radius: 15px;
}
#search-result p{
    flex: 1;
    white-space: normal;
    word-wrap: break-word;
    font-weight: 100;
}



/*about us css*/

#about-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 30px;
    height: 70vh;
    width: 60vh;
    padding-left: 100px;;
}

#about-container h1{
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#about-container p{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

#team-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 100px;
}

#team-container h1{
    font-size: 80px;
}

#team-members{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

#team-members section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px 45px;
    border-radius: 20px;
    outline: 1px solid white;
    width: 200px;
}

#team-members section h3{
    font-size: 25px;
    max-width: 100%;
}

#team-members section p{
    font-size: 20px;
}

#team-members section h4{
    background-color: rgba(0, 0, 0, 0.75);
    padding: 12px 20px;
    border-radius: 10px;
}

/*Contact us css*/

#contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    gap: 150px;
    height: 70vh;
    width: auto;
}

#contact-container h1{
    font-size: 100px;
}

#details-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
    background-color: rgba(38, 119, 165, 0.6);
    padding: 30px;
    border-radius: 10px;
}

#details-form label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#details-form input{
    padding: 10px;
    width: 400px;
    background-color: rgba(236, 221, 221, 0.7);
    border-radius: 10px;
    font-weight: bold;
    outline: 1px solid black;
}

#details-form textarea{
    width: 400px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid black;
    background-color: rgba(236, 221, 221, 0.7);
}

#details-form button{
    padding: 10px;
    width: 400px;
    background-color: rgba(36, 160, 32, 0.75);
    border-radius: 10px;
    cursor: pointer;
}